* {
  font-family: "Quicksand", sans-serif;
}

.logo_dna_navbar {
  width: 103px;
  height: 101px;
  background-image: url(../img/DNA_LogoFundoVazadoBranco.png);
}

html {
  scroll-behavior: smooth;
}

body {
  transition: transform 0, 4s ease;
}

.oi {
  position: fixed !important;
}

.video {
  width: 100%;
  background-size: cover;
}

.blackvideo {
  background-color: black;
  overflow: hidden;
  height: 720px;
  position: relative;
}

video {
  opacity: 0.7;
}

.contatophone {
  margin-left: 18px;
}

.pointer-none {
  cursor: default;
}

.caminhao_main {
  background-size: cover;
  width: 250vh;
  background-image: url(/img/rastreador-de-caminhao-via-satelite-preco.jpg);
}

.container_nossainfra {
  padding-top: 56px;
}

.hrrisco {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.svg {
  width: 109.4px;
  height: 104px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: black;
}

.respiro_infra {
  padding-top: 88px;
}

.h2_infra {
  font-size: 15px;
  padding-top: 15px;
  font-weight: bold;
}

.respiro_tecnologia {
  padding-top: 38px;
}

.imgcaminhao_tecnologia {
  width: 1320px;
  height: 251px;
  background: linear-gradient(5deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/rastreador-de-caminhao-via-satelite-preco.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alinhamento_tecnologia_h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.h2_tecnologia {
  font-weight: bold;
  font-size: 27px;
  color: white;
}

.respiro_dos_logos {
  padding-top: 12px;
}

.logo_onix {
  width: 81px;
  height: 69px;
}

.logo_om_sascar {
  width: 189px;
  height: 73px;
}

.logo_ravex {
  width: 138.3px;
  height: 65px;
}

.respiro_sobre {
  padding-top: 56px;
}

.sobrenos {
  border-radius: 8px;
}

.h5_sobrenos {
  text-align: left;
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 2px solid;
  width: 102px;
}

.p_sobrenos {
  text-align: left;
}

.imgsobrenos {
  width: 330px;
  height: 331px;
  margin-top: 12px;
}

.Buttonsobre {
  text-align: left;
}

.h2_empresas {
  padding-top: 45px;
}

.logo_empresas {
  width: 133px;
  height: 87px;
}

.logo_empresas_carrosel2 {
  width: 143px;
  height: 62px;
}

.h2_empresas {
  font-weight: bold;
  padding-bottom: 12px;
}

.blackfooter {
  background-color: black;
  background-size: cover;
}

.respiro_dos_empresas {
  padding-top: 20px;
}

.imgmariafumaca {
  width: 107px;
  height: 86px;
}

.carrolindicato {
  position: static !important;
  padding-top: 15px !important;
}

.loader--hidder {
  opacity: 0;
  visibility: hidden;
}
